ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}

li{
    background-color: #96D4D4;
    border : 1px solid white;
    float : left;
}

li a{
    color: black;
    display: inline-block;
    padding: 25px 55px;
}

li>a:hover{
    background-color: rgb(48, 107, 107);
    color : black;
    font-family: fantasy;
    font-weight: bold;
}